* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-size: medium;
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
.container{
    width: 100%;
    height: 100vh;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Calculator{
    background: rgb(0, 86, 101);
    padding: 20px;
    border-radius: 10px;
}
.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button{
    padding: 10px 8px;
    border-radius: 8px; 
    border: 0;
    outline: 0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) ;
    font-size: 20px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(234, 95, 95);
    color: white;
}
.buttons button :active{
    transform: scale(0.99);
}
.buttons .operator1:hover{
    background-color: rgb(207, 48, 48);
    color: black;
}

.buttons .operator2:hover {
    background-color: rgb(48, 207, 101);
    color: white;
}

.buttons .operator3:hover {
    background-color: rgb(48, 98, 207);
    color: white;
}

.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
    pointer-events: none;
}
.operator{
    color: mediumseagreen;
}
.operator1{
    background-color: rgb(129, 129, 129);
    color: white;
}
.operator2{
    background-color: orange;
}
.operator3 {
    background-color: orange;
}
}