*{
    font-family: 'Kanit';
}
body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #A04747;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    font-weight: 500;
    color: white;
    text-shadow: #333;
    font-style: italic;
    text-align: center;
    background-color: rgb(0, 128, 79);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border-style: dashed;
}

form {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #179BAE;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4158A6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.income {
    color: palevioletred;
}
.expense {
    color: rgb(196, 39, 39);
}
.total {
    color: rgb(25, 182, 85);
}